doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    title Elinext
    link(rel='icon', type='image/x-icon', href='img/favicon.ico')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    link(rel="stylesheet" href="css/style.css")
    <!--Разработка Роман Крутько @somerom somerom71@gmail.com-->
    block head_end

  body
    block content
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/datepicker.min.js")
    script(type="text/javascript", src="js/script.min.js")
    block body_end
