section.table-section
  .table__wrap
    span.title Labrecque Family Chiropractic, PC
    b.title Scoliosis Protocol
    span PATIENT NAME:
    input(type="text")
    span.subtitle DOB:
    input(type="text")
    button#add-btn Add row
    .table
      .table__row
        .table__col
          b Date
        .table__col
          b Initials
        .table__col
          b Table Total Min
        .table__col
          b Chair Total Min
        .table__col__big
          b Notes (Indicate how patient tolerated treatment)
      form
        .table__row
          .table__col
            input(type="text").date
          .table__col
            input(type="text")
          .table__col
            input(type="text").validate.ttm
          .table__col
            input(type="text").validate.ctm
          .table__col__big
            label
              input(type="checkbox")
              | Pt. tolerated treatment well
            label
              input(type="checkbox")
              | Pt. c/o after use of
            label
              input(type="radio" name="rad")
              | Scoliosis Table
            label
              input(type="radio" name="rad").input-switch
              | Chair
              input(type="text")
            label
              input(type="radio" name="rad").input-switch
              | Stopped treatment prematurely due to
              input(type="text")
      form
        .table__row
          .table__col
            input(type="text").date
          .table__col
            input(type="text")
          .table__col
            input(type="text").validate.ttm
          .table__col
            input(type="text").validate.ctm
          .table__col__big
            label
              input(type="checkbox")
              | Pt. tolerated treatment well
            label
              input(type="checkbox")
              | Pt. c/o after use of
            label
              input(type="radio" name="rad")
              | Scoliosis Table
            label
              input(type="radio" name="rad").input-switch
              | Chair
              input(type="text")
            label
              input(type="radio" name="rad").input-switch
              | Stopped treatment prematurely due to
              input(type="text")
      form
        .table__row
          .table__col
            input(type="text").date
          .table__col
            input(type="text")
          .table__col
            input(type="text").validate.ttm
          .table__col
            input(type="text").validate.ctm
          .table__col__big
            label
              input(type="checkbox")
              | Pt. tolerated treatment well
            label
              input(type="checkbox")
              | Pt. c/o after use of
            label
              input(type="radio" name="rad")
              | Scoliosis Table
            label
              input(type="radio" name="rad").input-switch
              | Chair
              input(type="text")
            label
              input(type="radio" name="rad").input-switch
              | Stopped treatment prematurely due to
              input(type="text")
      form
        .table__row
          .table__col
            input(type="text").date
          .table__col
            input(type="text")
          .table__col
            input(type="text").validate.ttm
          .table__col
            input(type="text").validate.ctm
          .table__col__big
            label
              input(type="checkbox")
              | Pt. tolerated treatment well
            label
              input(type="checkbox")
              | Pt. c/o after use of
            label
              input(type="radio" name="rad")
              | Scoliosis Table
            label
              input(type="radio" name="rad").input-switch
              | Chair
              input(type="text")
            label
              input(type="radio" name="rad").input-switch
              | Stopped treatment prematurely due to
              input(type="text")
      form
        .table__row
          .table__col
            input(type="text").date
          .table__col
            input(type="text")
          .table__col
            input(type="text").validate.ttm
          .table__col
            input(type="text").validate.ctm
          .table__col__big
            label
              input(type="checkbox")
              | Pt. tolerated treatment well
            label
              input(type="checkbox")
              | Pt. c/o after use of
            label
              input(type="radio" name="rad")
              | Scoliosis Table
            label
              input(type="radio" name="rad").input-switch
              | Chair
              input(type="text")
            label
              input(type="radio" name="rad").input-switch
              | Stopped treatment prematurely due to
              input(type="text")
      form
        .table__row
          .table__col
            input(type="text").date
          .table__col
            input(type="text")
          .table__col
            input(type="text").validate.ttm
          .table__col
            input(type="text").validate.ctm
          .table__col__big
            label
              input(type="checkbox")
              | Pt. tolerated treatment well
            label
              input(type="checkbox")
              | Pt. c/o after use of
            label
              input(type="radio" name="rad")
              | Scoliosis Table
            label
              input(type="radio" name="rad").input-switch
              | Chair
              input(type="text")
            label
              input(type="radio" name="rad").input-switch
              | Stopped treatment prematurely due to
              input(type="text")
      .table__row.table__row_last
        .table__col
        .table__col
        .table__col
          input(type="text").ttm_res
        .table__col
          input(type="text").ctm_res
        .table__col__big
.to-top
  b Up!
